* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  margin: 20px;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  margin-top: 100px;
  justify-content: space-evenly;
  font-family: 'Nunito', Arial, sans-serif;
  font-weight: 700;
  flex-wrap: wrap;
}

h1 {
  font-size: 4rem;
  letter-spacing: 2px;
  color: #0a4399;
}

#content {
  width: 30%;
  height: 30%;
  display: flex;
  flex-direction: column;
}

form {
  width: 325px;
  background-color: #0080ff;
  color: #fbfcf8;
  height: 70px;
  padding: 20px;
  border-radius: 10px;
}

#user-word {
  width: 200px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}

.btn {
  margin-left: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
}

.btn-primary {
  color: #0a4399;
  background-color: #fbfcf8;
}

.btn-secondary {
  color: #fbfcf8;
  background-color: #0a4399;
  width: 150px;
  height: 50px;
  margin-top: 20px;
}

#timer {
  margin-top: 50px;
  font-size: 1.75rem;
}

#board {
  width: 30%;
  height: 65%;
  margin-top: 50px;
  background: #0080ff;
  padding: 10px;
  border-radius: 15px;
}

td {
  text-align: center;
  font-size: 3rem;
  width: 150px;
  height: 150px;
}

.letter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 135px;
  width: 135px;
  background-color: #fbfcf8;
  border-radius: 25px;
  margin: 5px;
  color: #0f52ba;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}

h2 {
  margin-top: 50px;
}
@media only screen and (max-width: 1125px) {
  .container {
    margin-top: 10px;
  }
  #board {
    margin-top: 10px;
    height: 45%;
  }
  #content {
    height: 200px;
  }
  td {
    height: 100px;
    width: 100px;
    font-size: 2rem;
  }
  .letter {
    height: 75px;
    width: 75px;
  }
}
