* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Nunito", Arial, sans-serif;
  font-weight: 700;
}

h1 {
  margin-top: 50px;
  margin-bottom: -30px;
  font-size: 4rem;
  letter-spacing: 2px;
  color: #0a4399;
}

#main-content {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

form {
  width: 325px;
  margin-bottom: -30px;
  background-color: #0080ff;
  color: #fbfcf8;
  height: 70px;
  padding: 20px;
  border-radius: 10px;
}

#user-word {
  width: 200px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}

.btn {
  margin-left: 5px;
  padding: 5px 10px;
  border: none;
  color: #0a4399;
  background-color: #fbfcf8;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
}

#board {
  width: 30%;
  height: 65%;
  background: #0080ff;
  padding: 10px;
  border-radius: 15px;
}

td {
  text-align: center;
  font-size: 3rem;
  width: 150px;
  height: 150px;
}

.letter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 135px;
  width: 135px;
  background-color: #fbfcf8;
  border-radius: 25px;
  margin: 5px;
  color: #0f52ba;
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}
