{% extends "base.html" %}{% block title %}Boggle{% endblock %} {% block content
%}
<div id="content">
  <h1>Boggle</h1>
  <form action="">
    <input type="text" name="word" id="user-word" placeholder="Enter Word" />
    <button class="btn btn-primary" id="submit-word-btn">Sumbit</button>
  </form>
  <p id="timer">
    Time Remaining: <span id="seconds-remaining">60</span> <span>s</span>
  </p>
  <h2 id="player-score">Score: <span id="score"></span></h2>
  <!-- <button id="new-game" class="btn btn-secondary">Start New Game</button> -->
</div>

<table id="board">
  {% for row in board %}
  <tr>
    {% for cell in row %}
    <td><span class="letter">{{cell}}</span></td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>

{% endblock %}
